* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

html,
body {
    height: 100%;
}

.wrapper {
    width: 96%;
    margin: 0 auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    height: inherit;
    margin-bottom: -50px;
}

footer {
    text-align: center;
    font-size: 12px;
    color: #666;
    line-height: 50px;
    height: 50px;
}

header {
    padding: 5px;
    text-align: center;
}

.navbar {
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar ul {
    list-style: none;
    display: inline-block;
}

.navbar ul > li {
    display: inline-block;
    margin: 0 10px;
}

/*.navbar ul > li:after {*/
    /*content: "|";*/
/*}*/

/*.navbar ul > li:last-child:after {*/
    /*content: "";*/
/*}*/


.column {
    display: inline-block;
    padding: 5px;
    height: 100%;
}

.column-quarter {
    width: calc(25% - 10px);
}

.column-third {
    width: calc(33% - 10px);
}

.column-half {
    width: calc(50% - 10px);
}

.column-two-thirds {
    width: calc(66% - 10px);
}

.pad {
    padding: 10px;
    border: 1px solid #999;
}

.pad > h4 {
    padding-bottom: 10px;
}

table.table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

table.table thead > tr {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.col-5 {
    width: 5%;
}

.col-10 {
    width: 10%;
}

.col-15 {
    width: 15%;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}


.table thead th,
.table tbody td{
    font-size: 12px;
    padding: 5px;
    line-height:25px;
}

.totals.positive {
    color: green;
}

.totals.negative {
    color:crimson;
}

.totals.negative:before {
    content: '-';
}

.totals.positive.transaction:before {
    content: '+';
}

.btn {
    display: inline-block;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.btn-action {
    color: black;
    background-color: #ccc;
    border-color: #ccc;
}

.btn-action:hover {
    color: black;
    background-color: white;
    border-color: black;
}

.btn-danger {
    color: white;
    background-color: crimson;
    border-color: crimson;
}

.btn-danger:hover {
    color: crimson;
    background-color: white;
    border-color: crimson;
}